<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>23-Word BIP39 Dice Seed</title>
<style>{{ styles | safe }}</style>
</head>
<body>
<section class="page">{% include "guide.html.j2" %}</section>
{% for sheet in sheets %}
<section class="page">{% include "sheet.html.j2" %}</section>
{% endfor %}
</body>
</html>
